* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(224, 191, 224);
}

.card {
    margin: 10px;
}

.card_info {
    display: grid;
    padding: 5px;
    height: max-content;
    max-width: max-content;
    border: 2.5px solid black;
    border-radius: 10px;
}

h1 {
    color: rgb(128, 72, 181);
    text-align: center;
    padding-bottom: 10px;
}

h2 {
    color: rgb(155, 116, 191);
    text-align: center;
    padding-bottom: 5px;
}

.card_grid {
    padding: 20px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

p {
    text-align: center;
    padding-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
