* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #fdfdfe;
}

header {
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 2fr 1fr;
}

#title {
  text-align: left;
}

#title_container {
  list-style: none;
  display: inline-block;
}

h1 {
    color: #22222a;
    text-align: center;
    padding-bottom: 10px;
    font-family: Inter, "Segoe UI", sans-serif;
}

h2 {
    color: #22222a;
    text-align: center;
    padding-bottom: 5px;
    font-size: x-large;
    font-family: Inter, "Segoe UI", sans-serif;
}

h3 {
  font-weight: 700;
  font-family: Inter, "Segoe UI", sans-serif;
}

p {
  text-align: center;
  padding-top: 5px;
  font-family: Inter, "Segoe UI", sans-serif;
}

a {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-family: Inter, "Segoe UI", sans-serif;
  text-decoration: none;
}

a:hover {
  background-color: rgb(218, 218, 218);
}

ul {
  list-style: none;
  display: inline-block;
}

section {
  border: solid #22222a 1px;
}

.card {
    margin: 10px;
}

.card_info {
    display: grid;
    padding: 5px;
    height: max-content;
    max-width: max-content;
    border: 2.5px solid #ebe4f1;
    background-color: #faf7fc;
    border-radius: 10px;
}

.card_grid {
  width: 60%;
  padding: 20px;
  margin: 10px;
  margin-left:20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}